# .github/workflows/publish.yml
name: Build react app and publish to giturls.github.io repository

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and Publish
    steps:
      - name: Get
        uses: actions/checkout@v2

      - name: Install
        run: npm install

      - name: Build
        run: npm run build # The build command of your project

      - name: Publish
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: git@github.com:giturls/giturls.github.io.git
          BRANCH: master # push to the master branch
          FOLDER: build # push the generated build
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SSH_PRIVATE_KEY: ${{ secrets.DEPLOY_PRIVATE_KEY }} # Is read from repository secret
          MESSAGE: "Build: ({sha}) {msg}" # The commit message
